:root {
  --sv-shadow-opacity: 0.05;
  --sv-radius: 20px;
  --sv-zindex-1: 100000;
  --sv-zindex-2: 99000;
  --sv-zindex-3: 98000;
  --sv-zindex-4: 97000;
  --sv-background-opacity: 0.2;
  --sv-font-family: inherit;

  /* Theme – Light (default) */
  --sv-background: 255, 255, 255;
  --sv-text: 44, 62, 80;
  --sv-gray-1: 247, 247, 247;
  --sv-gray-2: 228, 228, 228;
  --sv-gray-3: 200, 200, 200;
  --sv-gray-4: 170, 170, 170;
  --sv-dark: 0, 0, 0;
}
