:root {
  --sv-shadow-opacity: 0.05;
  --sv-radius: 20px;
  --sv-zindex-1: 100000;
  --sv-zindex-2: 99000;
  --sv-zindex-3: 98000;
  --sv-zindex-4: 97000;
  --sv-background-opacity: 0.2;
  --sv-font-family: 'Poppins', sans-serif;
}
